<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiynn.cms.dao.ValidatorMapper">

    <!--查看枚举表的key是否存在-->
    <select id="isEnums" resultType="int">
        select count(*)
        from sys_enum
        where `key` = #{key}
          and type = #{type}
    </select>
    <!--检查用户-->
    <select id="isUser" resultType="int">
        select count(*)
        from sys_user
        where data_status = 1
          and id = #{id}
    </select>
    <!--检查角色是否存在-->
    <select id="isRole" resultType="int">
        select count(*)
        from sys_role
        where data_status = 1
          and id = #{id}
    </select>
    <!--检查产品是否存在-->
    <select id="isMenu" resultType="int">
        select count(*)
        from sys_menu
        where data_status = 1
          and id = #{id}
    </select>

</mapper>